:root {
    --main-color: teal;
    --main-color-white: white;
    --main-color-black: #1d1d1d;
    --main-color-gray: gray;
    --main-color-green: green;
    --main-color-red: red;
    --main-color-gold: gold;
    --main-color-orangered: orangered;
    --main-color-orangeee: rgb(232, 105, 58);
}